button {
  background-color: #1976d2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 21px;
  border: none;
}

button[loading] {
  background-color: gold;
}

button[done] {
  background-color: green;
}

button img {
  width: 20px;
}
